:root{
    --bg-color: #D7D7D7;
    --secondary-bg: #FFFFFF;
    --main-color: #102B3F;
    --text-logo-color: #007BFF;
    --pos-color: #28A745;
    --negative-color: #ff0000;

    --edge-rounding: 10px;
}

a:link, a:visited, a{
    text-decoration: none;
    color: black;
}

.logo{
    margin: 1rem;
    font-style: italic;
    text-align: left;
    font-size: 5rem;
    filter: drop-shadow(5px 5px 15px var(--text-logo-color));
}

.fullHeight{
    height: 100vh;
}

h1{
    font-family: sans-serif;
}

header{
    color: var(--text-logo-color);
    font-family: "Popins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginField{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm{
    color: var(--bg-color);
    padding: 3rem 7.5rem;
    border-radius: 20px;
    font-family: sans-serif;
    font-size: large;
    filter: drop-shadow(5px 5px 15px var(--main-color));
}

.loginForm > input{
    height: 2rem;
    background-color: var(--bg-color);
    border-radius: var(--edge-rounding);
    width: 20rem;
    border-style: none;
    margin-bottom: 1rem;
    font-size: large;
    margin-top: 0.3rem;
}

.loginForm > input[type=submit]{
    background-color: var(--pos-color);
    width: 5rem;
    font-weight: 600;
    color: var(--main-color);
}


body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url("https://i-techsupport.com/wp-content/uploads/2024/11/Still-2024-09-26-082810_1.7.2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#shadownBlur{
    backdrop-filter: blur(10px) brightness(80%);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


#loggedInPage{
    background-image: none;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 3rem;
}

.leftPanel{
    display: flex;
    flex-direction: column;
    border-right-style: solid;
    border-width: 3px;
    padding: 1rem;
}

.menuButtonsHolder{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menuButtonsHolder > button{
    border-radius: var(--edge-rounding);
    border-style: none;
    background-color: var(--secondary-bg);
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
}

.menuButtonsHolder > button:hover{
    background-color: var(--main-color);
    color: var(--secondary-bg);
    cursor: pointer;
}

.mainPanel{
    flex-grow: 1;
    padding: 1rem;
}

.userInfo{
    background-color: var(--secondary-bg);
    border-radius: var(--edge-rounding);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-bottom: 4rem;
    font-size: 1.25rem;
}

.newCaseForm{
    display: flex;
    flex-direction: column;
}

.newCaseForm > input{
    height: 2rem;
    background-color: var(--secondary-bg);
    border-radius: var(--edge-rounding);
    width: 40rem;
    border-style: none;
    margin-bottom: 1rem;
    font-size: large;
    margin-top: 0.3rem;
    padding: 0.25rem;
}

.newCaseForm > label{
    font-family: sans-serif;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 0.25rem;
}

.newCaseForm > textarea{
    border-radius: var(--edge-rounding);
    height: 7rem;
    padding: 0.25rem;
}

.newCaseForm > select{
    width: 20rem;
    font-size: 1.25rem;
    border-radius: var(--edge-rounding);
    padding: 0.25rem;
}

.newCaseForm > input[type=submit]{
    background-color: var(--pos-color);
    width: 12rem;
    font-weight: 600;
    color: var(--main-color);
}

.newCaseForm > input[type=submit]:hover{
    background-color: var(--main-color);
    color: var(--secondary-bg);
    cursor: pointer;
}

.pressedPanelButton{
    background-color: var(--main-color);
    color: var(--secondary-bg);
}

.caseHolder{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.caseShortShow{
    background-color: var(--secondary-bg);
    border-radius: var(--edge-rounding);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    padding: 0 1rem;
    font-family: sans-serif;
    font-size: large;

}



.caseShortShow > *{
    height: 100%;
    padding: 0 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caseShortShow > *:not(:first-child){
    border-left-style: solid;
    border-width: 2px;
}

.caseShortShow > * > span{
    border-radius: var(--edge-rounding);
    padding: 0.25rem 0.5rem;
    text-decoration: none;

}

.deleteUserButton{
    background-color: var(--negative-color);
    color: var(--secondary-bg);
    border-radius: var(--edge-rounding);
    border: none;
    font-weight: 600;
    height: 75%;
}

.deleteUserButton:hover{
    background-color: var(--main-color);
    color: var(--secondary-bg);
    cursor: pointer;
}

.changeColorOnHover:hover{
    color: var(--secondary-bg);
    background-color: var(--main-color);
    cursor: pointer;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 0.25rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: var(--edge-rounding);
    font-size: large;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
  }
  
  #assigningDropdownInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;

  }
  
  #assigningDropdownInput:focus {outline: 3px solid #ddd;}

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  
  .dropdown-content > button{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: flex;}

  #assigningDropdown{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0.25rem;
}

.caseView{
    display: flex;
    padding: 0.5rem 1rem;
    flex-direction: column;
    background: var(--bg-color);
    align-items: center;
    justify-content: center;
    gap: 2rem;
    overflow-y: scroll;
}


.ticketHeader, .ticketMessages{
    width: 80%;
}

.ticketHeader, .notYourMessage, .yourMessage{
    background-color: var(--secondary-bg);
    border-radius: var(--edge-rounding);
    padding: 0.5rem 1rem;

}

.ticketMessages{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.notYourMessage{
    text-align: left;
}

.yourMessage{
    text-align: right;
}

h4{
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.newMessageTicket{
    width: 100%;
}

.newMessageTicket > form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}
.newMessage{
    height: 4rem;
    width: 70%;
}

.submitButton{
    background-color: var(--pos-color);
    width: 5rem;
    height: 2rem;
    font-weight: 600;
    color: var(--main-color);
    cursor: pointer;
    border: none;
    border-radius: var(--edge-rounding);
}

.submitButton:hover{
    background-color: var(--main-color);
    color: var(--secondary-bg);
}

